<h1 class="ui header app-phone room-title">
  <br>
  <p class="center">{{ Room.room.name }}</p>
</h1>

<div class="ui container">
  <div id="container-room">
    <h1 class="ui dividing header app-desktop">
      <br>
      {{ Room.room.name }}
      <b ng-if="Room.account" style="float:right;" class="app-desktop">Log as {{Room.account.username}}</b>
      <button ng-if="!Room.room.account_id || !Room.room.music_id" ng-click="Room.refresh()" class="ui right floated teal button">Start</button>
    </h1>

    <button ng-if="Room.account" ng-click="Room.leave()" class="app-phone ui red right labeled icon button">Leave the room <i class="sign out icon"></i></button>
    <button ng-if="Room.account && !Room.dj" ng-click="Room.becomeDJ()" class="app-phone ui teal right floated icon button">Enter in the queue <i class="sign in icon"></i></button>
    <button ng-if="Room.account" ng-click="Room.leave()" class="app-desktop ui large red right labeled right floated icon button">Leave the room <i class="sign out icon"></i></button>
    <button ng-if="Room.account && !Room.dj" ng-click="Room.becomeDJ()" class="app-desktop ui large teal right labeled right floated icon button">Enter in the queue <i class="sign in icon"></i></button>
    <form ng-if="!Room.account" class="ui form error">
      <div class="ui fluid action input" field-error="Room.errors.username">
        <input ng-model="Room.newAccount.username" type="text" id="username" placeholder="Enter your username...">
        <div ng-click="Room.createAccount()" class="ui button"> Validate</div>
      </div>
      <field-errors errors="Room.errors.username"></field-errors>
    </form>
    <h3 ng-if="Room.dj" class="ui header">You are in the queue to be the next DJ</h3>

    <div ng-if="Room.dj">

      <form class="ui form">
        <div class="field">
          <div class="ui fluid action input search-track" field-error="Room.errors.username">
            <input id="keyword" ng-model="Room.search_input" placeholder="Name of the track...">
            <div ng-click="Room.searchTrack()" class="ui right teal button right labeled icon"> Search <i class="ui check icon"></i></div>
          </div>
        </div>
      </form>
    </div>

    <div id="result" class="ui container">
      <div ng-repeat="res in Room.search_result">
        <div class="ui three ui link cards">
         <div class="card" ng-repeat="r in res" ng-click="Room.sendToPlaylist(r)">
           <div class="image">
             <img src="{{r.image}}" class="visible content">
           </div>
           <div class="content">
             <b>{{r.name}}</b>
           </div>
         </div>
      </div>
    </div>
  </div>
</div>

<chat token="Room.token"></chat>
<lecteur></lecteur>

</div>
