<div class="ui container">
  <div id='container'>
    <h1 class="ui header">
      <br>
      {{ Room.room.name }}
      <hr>
       </h1>
    <button ng-if="Room.account" ng-click="Room.leave()" class="ui large red right labeled right floated icon button">Leave the room <i class="sign out icon"></i></button>
    <button ng-if="Room.account && !Room.dj" ng-click="Room.becomeDJ()" class="ui large teal right labeled right floated icon button">Enter in the queue <i class="sign in icon"></i></button>
    <form ng-if="!Room.account" class="ui form error">
      <div class="ui fluid action input" field-error="Room.errors.username">
        <input ng-model="Room.newAccount.username" type="text" id="username" placeholder="Enter your pseudo...">
        <div ng-click="Room.createAccount()" class="ui button"> Validate</div>
      </div>
      <field-errors errors="Room.errors.username"></field-errors>
    </form>
    <h3 ng-if="Room.dj" class="ui header">You are in the queue to be the next DJ</h3>
    <b ng-if="Room.account">Log as {{Room.account.username}}</b>
    <div ng-if="Room.dj">

      <form class="ui form">
        <div class="field">
          <div class="ui fluid action input" field-error="Room.errors.username">
            <input id="keyword" ng-model="Room.search_input" placeholder="Name of the track...">
            <div ng-click="Room.searchTrack()" class="ui right teal button right labeled icon"> Search <i class="ui check icon"></i></div>
          </div>
        </div>
      </form>
    </div>

    <div class="ui container">
      <div ng-repeat="res in Room.search_result">
        <div class="ui four stackable cards">
          <div class="card" ng-repeat="r in res">
            <img src="{{r.image}}" class="visible content"/>
            <a class="hidden content ui block header center aligned" ng-click="Room.sendToPlaylist(r)">{{r.name}}</a>
          </div>
        </div>
      </div>

    </div>
  </div>
</div>

<chat token="Room.token"></chat>
<lecteur></lecteur>
