$iPhone-width: 736px;
$break-large: 1200px;

.search-track {
  margin-top: 5em;
  @media screen and (max-width: $iPhone-width) {
    margin-top: 0;
  }
}

#result {
  margin-top:3em;
}

.room-title {
  @media screen and (max-width: $iPhone-width) {
    background-color: #202c2a;
    width: 100% !important;
    padding-bottom: 0.5em !important;
    p {
      color: white !important;
      margin-left: 1em;
    }
  }
}


.bg-rooms {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  background-image: url('/static/img/rooms-bg.jpg');
  filter: blur(10px);
}

.room-line {
  margin-top: 15%;
  @media screen and (max-width: $iPhone-width) {
    margin: 0;
  }
  a:nth-child(even) {
    margin-left: 4em;
    @media screen and (max-width: $iPhone-width) {
      margin-left: 0;
    }
  }
  img {
    margin-bottom: 4em;
    border: solid 1px black;
    box-shadow: 3px 3px 3px black;
    filter: opacity(1);
    transition: filter 0.5s;
    &:hover {
      filter: opacity(0.8);
    }

    @media screen and (max-width: $iPhone-width) {
      margin-bottom: 1em;
    }
  }
}

.page-title {
  font-size: 6em;
  color: white;
  @media screen and (max-width: $iPhone-width) {
    font-size: 3em;
  }
}

.title {
  font-size: 6.5em;
  color: white;
  @media screen and (max-width: $iPhone-width) {
    font-size: 3em;
  }
}

.text-center {
  display: inline-block;
  font-size: 6em;
  color: white;
  text-align: center;
}

img.room {
  max-width: 100%;
  height: auto;

  @media screen and (max-width: $iPhone-width) {
    min-width: 100%;
  }
}

.room-preview-right {
  float: right;
}

.app-desktop {
  @media (max-width: $iPhone-width) {
    display: none !important;
  }
}

.app-phone {
  display: none !important;
  @media screen and (max-width: $iPhone-width) {
    display: inline-block !important;
  }
}

#room-button {
  margin-top: 100px;
}

#container {
  margin-left: 138px !important;
  @media (max-width: $iPhone-width) {
    margin-left: 0 !important;
  }
}

#container-room {
  margin-left: 138px !important;
  margin-right: 300px;
  @media (max-width: 1000px) {
    margin-right: 0;
  }
  @media (max-width: $iPhone-width) {
    margin-left: 0 !important;
  }
}


#container-home{
  margin-top: 12%;
  margin-left: 138px !important;

  @media (max-width: $iPhone-width) {
    margin-left: 0 !important;
    margin-top: 30%;
    button {
      margin-top: 5em;
    }
  }
}

video#bgvid {
  position: fixed;
  right: 0;
  bottom: 0;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  background-size: cover;
  filter: blur(10px);
}

.dark-content {
  background-color: rgba(0, 0, 0, 0.5);
  position: fixed;
  width: 100%;
  height: 100vh;
  z-index: -99;
  left: 0;
  top: 0;
}

#miniLecteur {
  width: 100%;
  position: fixed;
  bottom: 0;
  margin-left: 138px;
  @media (max-width: $iPhone-width) {
    margin-left: 0;
  }
  background-color: #505050;
}

#progress {
  display: inline-block;
  width: 100%;
  margin-bottom: 20px;
}

#progressBar {
  background-color: #D2527F;
  height: 5px;
}

#volume {
  width: 0;

  margin-bottom: 20px;
  border-radius: 20px;
  display: inline-block;
  background-color: #AAAAAA;
  @media (max-width: $iPhone-width) {
    display: none !important;
  }
}

#volumeBar {
  border-radius: 20px;
  background-color: #FFA300;
  height: 0px;
}

#buttonPlay {
  background-size: 100%;
  width: 30px;
  height: 30px;
  border: none;
}

#picture {
  padding: 0;
  margin-bottom: -6px;
  border: 0;
  display: inline-block;
  height: 60px;
  width: 60px;
}

#miniLecteur {
  #buttonMute {
    @media (max-width: $iPhone-width) {
      display: none !important;
    }
    margin-top: 80px;
    margin-right: 2px;
    display: inline-block;
    margin-bottom: 20px;
    background-size: 100%;
    width: 30px;
    height: 30px;
    border: none;
    &.mute {
      background-color: red;
    }
  }
}

#miniLecteur {
  width: 100%;
  position: fixed;
  bottom: 0;
  background-color: #505050;
}

#buttonPlay {
  background-size: 100%;
  width: 30px;
  height: 30px;
  border: none;
}

#picture {
  padding: 0;
  margin-bottom: -6px;
  border: 0;
  display: inline-block;
  height: 60px;
  width: 60px;
}

#containerLecteur {
  position: relative;
  display: inline-block;
  height: 60px;
  width: 75%;
}

#miniLecteur {
  .popopo {
    position: fixed;
    right: 0;
    bottom: -28px;
    background-color: rgba(255, 255, 255, 0);
    color: white;
    font-size: 70px;
    background-size: 100%;
    border: none;
    &.mute {
      background-color: red;
    }
  }
}

.options-click {
  cursor: pointer;
}

.options-search {
  max-width: 100%;
  height: auto;
  margin: 0;
  position: relative;
  border: solid 2px #e0e1e2;
}

.option-show {
  visibility: default;
}

.option-hidden {
  visibility: hidden;
}

$player-height: 120px;
$player-width: 100%;

@mixin unselectable() {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.player {
  position: fixed;
  bottom: 0;
  left: 0;
  margin-left: 137px;
  @media (max-width: $iPhone-width) {
    margin-left: 0 !important;
    position: fixed;
  }
  min-height: $player-height;
  width: $player-width;
  left: 0;
  bottom: 0;
  background-color: #1B1C1D;
  @include unselectable();

  ul {
    margin: 0;
    padding: 0;
    list-style: none;
    li {
      display: inline-block;
    }
  }
}

.cover {
  display: inline-block;
  height: $player-height;
  top: 0;
  left: 0;
  min-height: $player-height;
  img {
    height: 100%;
    width: auto;
  }
}


.info {
  padding-top: 10px;
  padding-left: 10px;
  display: inline-block;
  color: white;
  max-width: 60%;
  #currentArtist {
    margin-top: 15px;
    color:white;
    @media (max-width: $iPhone-width) {
      margin-top: 0;
      font-size: 1.5em !important;
    }
  }

  h4 {
    margin-top: -0.5em;
    line-height: 20px;
    color: white;
  }
}

.button-items {
}

#slider {
  width: 182px;
  height: 4px;
  background: #151518;
  border-radius: 2px;
  div {
    width: 4px;
    height: 4px;
    margin-top: 1px;
    background: #EF6DBC;
    border-radius: 2px;
  }
}

#timer {
  color: #494B4E;
  line-height: 0;
  font-size: 9pt;
  float: right;
  font-family: Arial, Sans-Serif;
}

.controls {
  margin-bottom: 20px;
  display: inline-block;
  padding-bottom: 20px;

  svg:nth-child(2) {
    margin-left: 5px;
    margin-right: 5px;
  }
}

#play {
  padding: 0 3px;
  width: 30px;
  height: 30px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;

  g {
    stroke: #FEFEFE;
    stroke-width: 1;
    stroke-miterlimit: 10;

    path {
      fill: #FEFEFE;
    }
  }
}

#play:hover {
  cursor: pointer;
  g {
    stroke: #8F4DA9;
    cursor: pointer;

    path {
      fill: #9b59b6;
      cursor: pointer;
    }
  }
}

.step-backward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;

  g polygon {
    fill: #FEFEFE;
  }
}

.step-foreward {
  width: 18px;
  height: 18px;
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  margin-bottom: 5px;

  g polygon {
    fill: #FEFEFE;
  }
}

#pause {
  x: 0px;
  y: 0px;
  enable-background: new 0 0 25 25;
  width: 30px;
  height: 30px;
  position: absolute;
  margin-left: -38px;
  cursor: pointer;

  rect {
    fill: white;
  }
}

#pause:hover rect {
  fill: #8F4DA9;
}

.step-backward g polygon:hover, .step-foreward g polygon:hover {
  fill: #EF6DBC;
  cursor: pointer;
}

.social {
  text-align: center;
}

.twitter {
  color: #BDBDBD;
  font-family: sans-serif;
  text-decoration: none;

  &:hover {
    color: #ecf0f1;
  }
}

.github {
  color: #BDBDBD;
  font-family: sans-serif;
  text-decoration: none;

  &:hover {
    color: #ecf0f1;
  }
}

p {
  color: #BDBDBD;
}

#skip {
  float: right;
  margin-top: 10px;

  p {
    color: #2980b9;
  }

  p:hover {
    color: #e74c3c;
    cursor: pointer;
  }
}

.expend {
  padding: 0.5px;
  cursor: pointer;

  svg:hover g polygon {
    fill: #EF6DBC;
  }
}
